In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

In [2]:
df = pd.read_csv('../data/insurance_premiums.csv')

In [7]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

Beginning with summary statistics, there is already a lot I can tell about the insurance dataset. The customers range in age from 18-64, with a mean age of 39. Premium changes range from \\$1,100 to nearly \\$64,000. The first big question I have is whether the charges paid will track with the customers age. I don't have access to how long customers paid premiums for, but it seems reasonable that on average, people who are older will have paid more over their lifetime.