# Fuel Economy Data

In [1]:
import pandas as pd
import numpy as np

In [4]:
# load cleaned dataset from Part 1 of the homework
df = pd.read_csv('./data/fuel_eco_clean.csv')

In [5]:
df.head()

,Vehicle ID,Year,Make,Model,Class,Drive,Transmission,Transmission Descriptor,Engine Index,Engine Descriptor,...,Composite City MPG,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),City Range (FT2),Highway Range (FT2),Range (FT2) Clean,Manufacturer Code Clean
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Unknown,Manual 5-Speed,Unknown,9001,(FFS),...,0,0,0,0,0.0,0.0,0.0,0.0,0,CRX
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Unknown,Manual 5-Speed,Unknown,9005,(FFS) CA model,...,0,0,0,0,0.0,0.0,0.0,0.0,0,CRX
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Unknown,Manual 5-Speed,Unknown,9002,(FFS),...,0,0,0,0,0.0,0.0,0.0,0.0,0,CRX
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Unknown,Manual 5-Speed,Unknown,9006,(FFS) CA model,...,0,0,0,0,0.0,0.0,0.0,0.0,0,CRX
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,Unknown,1830,(FFS),...,0,0,0,0,0.0,0.0,0.0,0.0,0,Unknown

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38113 entries, 0 to 38112
Data columns (total 81 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Vehicle ID                           38113 non-null  int64
 1   Year                                 38113 non-null  int64
 2   Make                                 38113 non-null  object
 3   Model                                38113 non-null  object
 4   Class                                38113 non-null  object
 5   Drive                                38113 non-null  object
 6   Transmission                         38113 non-null  object
 7   Transmission Descriptor              38113 non-null  object
 8   Engine Index                         38113 non-null  int64
 9   Engine Descriptor                    38113 non-null  object
 10  Engine Cylinders                     38113 non-null  int64
 11  Engine Displacement                  38113 non-null  float64
 12  Turbocharger                         38113 non-null  object
 13  Supercharger                         38113 non-null  object
 14  Fuel Type                            38113 non-null  object
 15  Fuel Type 1                          38113 non-null  object
 16  Fuel Type 2                          38113 non-null  object
 17  City MPG (FT1)                       38113 non-null  int64
 18  Unrounded City MPG (FT1)             38113 non-null  float64
 19  City MPG (FT2)                       38113 non-null  int64
 20  Unrounded City MPG (FT2)             38113 non-null  float64
 21  City Gasoline Consumption (CD)       38113 non-null  float64
 22  City Electricity Consumption         38113 non-null  float64
 23  City Utility Factor                  38113 non-null  float64
 24  Highway MPG (FT1)                    38113 non-null  int64
 25  Unrounded Highway MPG (FT1)          38113 non-null  float64
 26  Highway MPG (FT2)                    38113 non-null  int64
 27  Unrounded Highway MPG (FT2)          38113 non-null  float64
 28  Highway Gasoline Consumption (CD)    38113 non-null  float64
 29  Highway Electricity Consumption      38113 non-null  float64
 30  Highway Utility Factor               38113 non-null  float64
 31  Unadjusted City MPG (FT1)            38113 non-null  float64
 32  Unadjusted Highway MPG (FT1)         38113 non-null  float64
 33  Unadjusted City MPG (FT2)            38113 non-null  float64
 34  Unadjusted Highway MPG (FT2)         38113 non-null  float64
 35  Combined MPG (FT1)                   38113 non-null  int64
 36  Unrounded Combined MPG (FT1)         38113 non-null  float64
 37  Combined MPG (FT2)                   38113 non-null  int64
 38  Unrounded Combined MPG (FT2)         38113 non-null  float64
 39  Combined Electricity Consumption     38113 non-null  float64
 40  Combined Gasoline Consumption (CD)   38113 non-null  float64
 41  Combined Utility Factor              38113 non-null  float64
 42  Annual Fuel Cost (FT1)               38113 non-null  int64
 43  Annual Fuel Cost (FT2)               38113 non-null  int64
 44  Gas Guzzler Tax                      38113 non-null  object
 45  Save or Spend (5 Year)               38113 non-null  int64
 46  Annual Consumption in Barrels (FT1)  38113 non-null  float64
 47  Annual Consumption in Barrels (FT2)  38113 non-null  float64
 48  Tailpipe CO2 (FT1)                   38113 non-null  int64
 49  Tailpipe CO2 in Grams/Mile (FT1)     38113 non-null  float64
 50  Tailpipe CO2 (FT2)                   38113 non-null  int64
 51  Tailpipe CO2 in Grams/Mile (FT2)     38113 non-null  float64
 52  Fuel Economy Score                   38113 non-null  int64
 53  GHG Score                            38113 non-null  int64
 54  GHG Score (Alt Fuel)                 38113 non-null  int64
 55  My MPG Data                          38113 non-null  object
 56  2D Passenger Volume                  38113 non-null  int64
 57  2D Luggage Volume                    38113 non-null  int64
 58  4D Passenger Volume                  38113 non-null  int64
 59  4D Luggage Volume                    38113 non-null  int64
 60  Hatchback Passenger Volume           38113 non-null  int64
 61  Hatchback Luggage Volume             38113 non-null  int64
 62  Start Stop Technology                38113 non-null  object
 63  Alternative Fuel/Technology          38113 non-null  object
 64  Electric Motor                       38113 non-null  object
 65  Gasoline/Electricity Blended (CD)    38113 non-null  bool
 66  Vehicle Charger                      38113 non-null  object
 67  Alternate Charger                    38113 non-null  object
 68  Hours to Charge (120V)               38113 non-null  int64
 69  Hours to Charge (240V)               38113 non-null  float64
 70  Hours to Charge (AC 240V)            38113 non-null  float64
 71  Composite City MPG                   38113 non-null  int64
 72  Composite Highway MPG                38113 non-null  int64
 73  Composite Combined MPG               38113 non-null  int64
 74  Range (FT1)                          38113 non-null  int64
 75  City Range (FT1)                     38113 non-null  float64
 76  Highway Range (FT1)                  38113 non-null  float64
 77  City Range (FT2)                     38113 non-null  float64
 78  Highway Range (FT2)                  38113 non-null  float64
 79  Range (FT2) Clean                    38113 non-null  int64
 80  Manufacturer Code Clean              38113 non-null  object
dtypes: bool(1), float64(30), int64(30), object(20)
memory usage: 23.3+ MB

In [58]:
m = df[['Year', 'Make', 'Model']].groupby('Model')

In [59]:
m = m.first()
models_unique = m.reset_index()

In [60]:
models_unique

                  Model  Year    Make
0       1-Ton Truck 2WD  1985  Toyota
1                   100  1989    Audi
2             100 Wagon  1989    Audi
3           100 quattro  1989    Audi
4     100 quattro Wagon  1992    Audi
...                 ...   ...     ...
3743              iQ EV  2013   Scion
3744                 tC  2005   Scion
3745                 xA  2004   Scion
3746                 xB  2004   Scion
3747                 xD  2008   Scion

[3748 rows x 3 columns]