In [2]:
import xgboost as xgb
import pandas as pd

In [65]:
df = pd.read_csv('../data/ks2.csv')

In [66]:
df.head()

,ID,name,category,main_category,currency,deadline,launched,state,country,goal
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 00:00:00,2015-08-11 12:12:28,failed,GB,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01 00:00:00,2017-09-02 04:43:57,failed,US,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:00:00,2013-01-12 00:20:50,failed,US,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 00:00:00,2012-03-17 03:24:11,failed,US,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 00:00:00,2015-07-04 08:35:03,failed,US,19500.00

In [5]:
df['state']

0         failed
1         failed
2         failed
3         failed
4         failed
           ...
370449    failed
370450    failed
370451    failed
370452    failed
370453    failed
Name: state, Length: 370454, dtype: object

In [7]:
import xgboost as xgb
import numpy as np
import pandas as pd
from sklearn.ensemble import GradientBoostingClassifier
# this is the file you should've gotten from your repo
from utils import extract_dates, get_val_scores
from category_encoders import OrdinalEncoder, OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score, train_test_split

In [8]:
df['state'].unique()

array(['failed', 'successful'], dtype=object)

In [60]:
df['deadline'] = pd.to_datetime(df['deadline'])
df['launched'] = pd.to_datetime(df['launched'])

In [21]:
??extract_dates

In [75]:
df1 = extract_dates(df, cols= ['deadline'], drop_cols=False)

In [76]:
df1.head()

,ID,name,category,main_category,currency,deadline,launched,state,country,goal
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 00:00:00,2015-08-11 12:12:28,failed,GB,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01 00:00:00,2017-09-02 04:43:57,failed,US,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:00:00,2013-01-12 00:20:50,failed,US,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 00:00:00,2012-03-17 03:24:11,failed,US,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 00:00:00,2015-07-04 08:35:03,failed,US,19500.00

In [78]:
df = extract_dates(df, cols=['deadline'],drop_cols=False)
df.columns

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'launched', 'state', 'country', 'goal'],
      dtype='object')

In [79]:
mod1 = xgb.XGBClassifier()

In [80]:
mod1.get_params()

{'objective': 'binary:logistic',
 'use_label_encoder': True,
 'base_score': None,
 'booster': None,
 'colsample_bylevel': None,
 'colsample_bynode': None,
 'colsample_bytree': None,
 'gamma': None,
 'gpu_id': None,
 'importance_type': 'gain',
 'interaction_constraints': None,
 'learning_rate': None,
 'max_delta_step': None,
 'max_depth': None,
 'min_child_weight': None,
 'missing': nan,
 'monotone_constraints': None,
 'n_estimators': 100,
 'n_jobs': None,
 'num_parallel_tree': None,
 'random_state': None,
 'reg_alpha': None,
 'reg_lambda': None,
 'scale_pos_weight': None,
 'subsample': None,
 'tree_method': None,
 'validate_parameters': None,
 'verbosity': None}

In [81]:
pipe = make_pipeline(OrdinalEncoder(), mod1)

In [82]:
X = df.drop(['deadline','launched', 'state'], axis=1)
y = df['state']

In [40]:
?get_val_scores

In [83]:
scores = get_val_scores(pipe, X, y, return_test_score=True, random_state=1985, stratify=True, use_kfold=False)

C:\Users\chloe\anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[21:00:15] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[21:00:35] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [84]:
scores

{'validation_score': 0.7011118047002851, 'test_score': 0.6503219014455197}

In [43]:
feats = pd.DataFrame({ 'Importance': pipe.steps[1][1].feature_importances_, 'Column': X.columns})
feats.sort_values(by='Importance', ascending=False)

    Importance                     Column
6     0.125348                       goal
3     0.089007              main_category
2     0.083302                   category
25    0.053423      deadline_history_days
42    0.051254             launched_month
31    0.041938    launched_is_month_start
40    0.041675              launched_hour
44    0.037006      launched_history_days
4     0.036370                   currency
5     0.034918                    country
26    0.029716         launched_dayofweek
18    0.029370              deadline_week
30    0.027300      launched_is_month_end
41    0.026695            launched_minute
7     0.023718         deadline_dayofweek
27    0.022376         launched_dayofyear
8     0.019932         deadline_dayofyear
32    0.018109    launched_is_quarter_end
23    0.018090             deadline_month
39    0.017869               launched_day
9     0.016031     deadline_days_in_month
20    0.015365               deadline_day
11    0.014812      deadline_is_month_end
36    0.014106           launched_quarter
37    0.013770              launched_week
28    0.013467     launched_days_in_month
33    0.012996  launched_is_quarter_start
14    0.012615  deadline_is_quarter_start
24    0.010695              deadline_year
0     0.010592                         ID
1     0.010513                       name
29    0.010407      launched_is_leap_year
12    0.010075    deadline_is_month_start
10    0.007143      deadline_is_leap_year
21    0.000000              deadline_hour
19    0.000000        deadline_weekofyear
34    0.000000       launched_is_year_end
35    0.000000     launched_is_year_start
17    0.000000           deadline_quarter
16    0.000000     deadline_is_year_start
38    0.000000        launched_weekofyear
15    0.000000       deadline_is_year_end
13    0.000000    deadline_is_quarter_end
43    0.000000              launched_year
22    0.000000            deadline_minute

Feature engineering (aka, creating new columns):

In [44]:
df['duration'] = (df['deadline'] - df['launched']).dt.days

KeyError: 'deadline'

In [55]:
category_avgs = df.groupby('category')[['goal']].mean().reset_index().rename({'goal': 'category_goal_avg'}, axis=1)